@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  max-width: 75vw;
  max-height: 95vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 1%;
}

.title {
  position: relative;
  background-color: #795548;
  color: #fff;
  padding: 25px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

.questionBox {
  position: relative;
  margin-top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  padding-left: 20px;
  box-sizing: border-box;
  background-color: #e0e0e0;
}

.question {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 5px;
  color: #000;
}

.answerBtn {
  position: relative;
  padding: 8px 15px;
  background-color: #795548;
  display: inline-block;
  margin: 8px;
  outline: none;
  border: none;
  font-size: 1em;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  cursor: pointer;
}

.score-board {
  position: relative;
  height: 700px;
}

.score {
  position: absolute;
  width: 100%;
  font-size: 3em;
  top: 20vh;
  text-align: center;
}

.playBtn {
  position: absolute;
  font-size: 1.4em;
  padding: 10px;
  top: 35vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4b2c20;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 150px;
  margin: auto;
  outline: none;
  cursor: pointer;
}
